<p>Hi <%= @booking.user_name %>,</p>
<p>Your booking for <%= @booking.car.model %> has been confirmed.</p>
<p>Pick up: <%= @booking.pick %></p>
<p>Drop off: <%= @booking.drop %></p>
<p>Thank you for using our service.</p>
